
 /* @import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap'); */

:root{
    --bg-color: ##a5acb3;
    --main-font: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font-secondary: 'Imperial Script', cursive;
}
body{
    background-color: #dfdddd !important;
    height: 100vh; /* For 100% screen height */
    width:  98vw;
}
/* classe que vai fazer os efeitos e de apagar */
.inactive
{
    display: none;
}
.navbar
{
    background-color: antiquewhite;
}
.flex{
    display: flex;
}
.flex-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .mainarea
{
    background-color: var(--bg-color);
    width: 1000px;
    height: 1000px;
    
}
.mainpainel
{
    display: flex;
    justify-content: center;
    margin: 10px ;
}
.container .h1
{
   font-family: var(--main-font);
   color: antiquewhite;
}

.maintext 
{
    margin: 0 10rem;

}
.maintext
{
    font-family: var(--font-secondary);
    font-size: 20px;
    color: whitesmoke
}
.center{
    display: grid;
    place-items:center;
}
/** Classes do Header **/
.nav {
    height: 10vh;
    background-color: black;
    color: white;

}
.session{
    margin-left: auto;
    display: flex;
    width: 20%;
}

.hamburguer {
    width: 45px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    border-radius: 50%;
    margin: 10px;

  }
  
.hamburguer .bar {
    height: 5px;
    width: 50%;
    background-color: #767676;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
    margin-top: 1px;
}
.hamburguer:hover{
    background-color: rgb(255, 255, 255, 0.25);
}
.main-menu {
    width: 15%;
    height: 90%;
    background-color: rgba(66, 63, 63, 0.651);
}
.menu-item{
    width: 100%;
}
.menu-item:hover{
    background-color: rgb(136, 133, 133);
}
.profile-circle{
    border: 1px solid white;
    border-radius: 50%;
}
.profile-circle:hover{
    border: 1px solid rgb(80, 80, 213);
    border-radius: 50%;
}

/* footer */